/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "MARCIE";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | LWR |   | RSE | RET  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI    &kp BSPC
   &kp LCTRL &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O       &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH    &kp ESC
                  &kp LGUI &lt 1 SPACE &mo 1   &mo 2  &lt 2 RET  &kp RALT
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// | PSCRN|  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  /  |  7  |  8  |   9  |
// | DEL  |  !  |  @  |  #  |  $  |  %  |   |  &  |  -  |  0  |  4  |  5  |   6  |
// | SHFT | BT1 | BT2 | BT3 | BT4 | BT5 |   |BTCLR|  =  |  .  |  1  |  2  |   3  |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp PSCRN  &kp N1       &kp N2       &kp N3       &kp N4       &kp N5        &kp N6     &kp N7    &kp FSLH  &kp N7  &kp N8 &kp N9
   &kp DEL    &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT     &kp AMPS   &kp MINUS &kp N0    &kp N4  &kp N5 &kp N6
   &kp LSHFT  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &bt BT_CLR &kp EQUAL &kp DOT   &kp N1  &kp N2 &kp N3
                          	        &kp LGUI     &kp SPACE    &trans        &trans     &kp RET    &kp RALT
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &     |    *   |    (   |     )     | BKSP  |
// | CTRL |     |     |     |     |     |   |  -  |  LEFT  |   UP   |  DOWN  |   RIGHT   |   `   |
// | SHFT |     |     |     |     |     |   |  _  |  +     |  HOME  |   END  |   PG_UP   | PG_DN |
//                    | GUI |     | SPC |   | ENT |        | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR  &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp LEFT  &kp UP          &kp DOWN &kp RIGHT &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp HOME        &kp END  &kp PG_UP  &kp PG_DN
                    	     &kp LGUI &kp SPACE &trans     &trans   &kp RET  &kp RALT
                        >;
                };
        };
};
